<footer style="background-color: #a34fb8;">
    <p style="text-align: center; color: #ffffff; margin: 0;">
        Ana Flávia © 2025
    </p>
</footer>
</body>
    <script src="/js/script.js"></script>
</html>