<%- include ('partials/header.ejs') %>   
<%- include ('partials/navbar.ejs') %>
    
    <h1 style="text-align: center;">Bem-vindo ao seu Catálogo sobre Veículos<ion-icon name="clipboard-outline"></ion-icon></h1>
    <hr>
    <br>
    <ul>
        <li><a href="/carros">Carros<ion-icon name="car-outline"></ion-icon></a></li>
        <li><a href="/motos">Motos<ion-icon name="bicycle-outline"></ion-icon></a></li>
        <li><a href="/onibus">Ônibus<ion-icon name="bus-outline"></ion-icon></a></li>
    </ul>
<%- include ('partials/footer.ejs') %>   